body {
	background-color: pink;
}

p, h1, h2, ul, li, a {
	font-family: "Lato", san-serif;
}

div#first {
	background-color: green;
}

div#second {
	background-color: blue;
}

div#third {
	background-color: red;
}

/* SMALL */
@media only screen and (max-width: 40em) { 
  
	div#first{
	 background-color: red;
	}

	div#second{
	 background-color: orange;
	}

	div#third{
	 background-color: yellow;
	}

}


/* MEDIUM */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	body {
		background-color: orange;
	}

} /* end MEDIUM */


/* LARGE */
@media only screen and (min-width: 64.063em) { 

	body {
		background-color: red;
	}

	header {
		background-color: #333333;
		background: black url('../images/border.png') repeat-x;
	}

	nav.top-bar {
		height: 143px;
		margin: auto;
		background-color: transparent;
	}

	nav.top-bar .top-bar-section ul.right {
		height: 50px !important;
		margin-top: 40px;
		background-color: transparent;
	}

	nav.top-bar .top-bar-section ul.right > li {
		height: 50px;
	}

	nav.top-bar .top-bar-section ul.right > li a {
		height: 50px;
		display: block;
		border-bottom: 4px solid #00CCCC;
		padding-bottom: 20px;
		font-size: 14px;
		letter-spacing: 2px;
		padding-left: 10px;
		padding-right:10px;
		color: #00CCCC;
		font-family: "Lato", san-serif;
		text-transform: uppercase;
		background-color: transparent;
	}

	nav.top-bar .top-bar-section ul.right > li a:hover {
		background-color: transparent;
		color: white;
		border-bottom: 4px solid #FFFFFF;
	}

	nav.top-bar .top-bar-section ul.right > li.active a:hover {
		background-color: transparent;
		color: white;
		border-bottom: 4px solid #FFFFFF;
	}

	nav.top-bar .top-bar-section ul.right > li.active a {
		height: 50px;
		background-color: transparent;
		display: block;
		border-bottom: 4px solid #FFFFFF;
		padding-bottom: 20px;
		font-size: 14px;
		letter-spacing: 2;
		padding-left: 10px;
		padding-right:10px;
		color: #FFFFFF;
	}

	nav.top-bar ul.title-area li.name a h1 span#flappy {
		font-size: 54px;
		color: #00CCCC;
		text-transform: uppercase;
		letter-spacing: 4px;
		position: absolute;
		margin-top: 40px;
	}

	nav.top-bar ul.title-area li.name a h1 span#app {
		font-size: 54px;
		color: #00CCCC;
		text-transform: uppercase;
		letter-spacing: 4px;
		position: absolute;
		margin-top: 40px;
		margin-left: 300px;
	}

	nav.top-bar ul.title-area li.name a img {
		position: absolute;
		margin-left: 200px;
		margin-top: 30px;
	}
	


} /* end LARGE */